<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="list">
         </div> <!-- Handled the case for extra commas or commas with no content -->
         <div class="form-group">
             <button class="btn btn-default" ng-click="lcheck()">Check If Too Much</button>
         </div>
         <div class="form-group message text-center" style="color: {{color}}; border: 2px solid {{border}}">
           {{message}}
         </div>
   </div>

</body>
</html>
